<html lang="en">
  <head>
    <title>Planeteria</title><!--todo: generate title dynamically-->
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="pub.d/css/bootstrap.min-2.2.2.css">
    <link rel="stylesheet" type="text/css" href="pub.d/css/bootstrap-responsive.min-2.2.2.css">
    <link rel="stylesheet" type="text/css" href="pub.d/css/planeteria.css">
  </head>
