<!DOCTYPE html>
<!-- wrapper layout for homepage & info pages -->
{% include "html-header.html" %}

<body>
  {% include "navbar.html" %}
  <div class="container-fluid" id="main">
    <div class="row-fluid" id="header-wrapper">
        <div class="span2">
          <div id="header-image" class="hidden-phone">
            <img src="pub.d/images/planeteria_200.png" width="150px">
          </div>
        </div>
        <div class="span10" id="page-title">
          <h1>Planeteria</h1>
          <h3>Blog aggregation by your community, for your community.</h3>
        </div>
    </div><!-- /.row for header -->
    <div class="row-fluid"> <!-- start row for page body -->
{% block body %}{% endblock %}
    </div><!-- / row for page body-->  
      <hr>

      <footer>
      <p><a href="about.html#thanks">Thanks</a> | <a href="about.html#contact">Contact</a> | <a href="about.html#copying">Copying</a> | <a href="about.html#tos">Terms of Use</a></p>
      <p>You can have the <a href="https://github.com/jvasile/Planeteria">code</a> to this page under the terms of the <a href="http://www.fsf.org/licensing/licenses/agpl-3.0.html">AGPLv3</a>.</p>
      </footer>
  </div> <!-- /container -->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script type="text/javascript" src="pub.d/js/bootstrap.min-2.2.2.js"></script>
</body>
</html>
