<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
          <!-- leave the span class icon bars there, empty -->
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </a>
        <a class="brand" href="index.html">Planeteria: Planets for Everybody!</a>
        <div class="nav-collapse collapse">
          <ul class="nav">
            <li class="active"><a href="/">Home</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Read a planet <b class="caret"></b></a>
              <ul class="dropdown-menu"><!--todo: generate list of planets dynamically-->
                <li><a href="wfs">Women in Free Software</a></li>
                <li><a href="freedombox">FreedomBox</a></li>
                <li><a href="planetnyc">Free to Share in NYC</a></li>
                <li><a href="openitp">OpenITP</a></li>
                <li><a href="allarounddc">All Around DC</a></li>
              </ul>
            </li>
            <li><a href="about.html">About</a></li>
            <li><a href="#donate">Donate</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>
  </div><!-- / .navbar -->
