<TMPL_INCLUDE header.tmpl>
<div id="left">

  <div id="error"><TMPL_VAR error></div>

  <form method="post" class="cmxform">
    <input type=hidden name="Timestamp" value="<TMPL_VAR timestamp>" />
    <div> <!-- need this div b/c form needs to be enclosed in a block element per http://objectmix.com/javascript/23328-dynamic-form-fields-added-appendchild-innerhtml-do-not-post-submit-firefox.html -->

      <div class = "entry">
        <div class="entrytitle">Planet Config</div>
        <ol>
          <li><TMPL_VAR planet_name_input></li>
          <li><TMPL_VAR owner_name_input></li>
          <li><TMPL_VAR owner_email_input ESCAPE=NONE></li>
        </ol>
      </div> <!-- end entry -->

      <div class = "entry" id="FeedsBody">
        <div class="entrytitle">Feeds <a href="javascript:add_feed()"><img src="pub.d/images/add-feed.png" width="14" height="14" border="0" alt="Add new feed button" name="AddFeedBtn" class="feedbtn"></a></div>
	<p>Use the <a href="javascript:add_feed()"><img src="pub.d/images/add-feed.png" width="14" height="14" border="0" alt="Add new feed button" name="AddFeedBtn" class="feedbtn"></a> and <img src="pub.d/images/rm-feed.png" width="14" height="14" border="0" alt="Remove feed sample" class="feedbtn"> buttons to add and remove feeds.</p>
        <div id="feeds">
	  <table id="feed_table"><tbody id="feeds_tbody">
	      <TMPL_LOOP Feeds>
		<tr class="<TMPL_VAR row_class>" id="feed_row<TMPL_VAR idx>">
                  <td style="vertical-align:middle">
                    <TMPL_IF faceurl>
                      <img src="<TMPL_VAR faceurl ESCAPE="HTML">" width="<TMPL_VAR facewidth ESCAPE="HTML">" height="<TMPL_VAR faceheight ESCAPE="HTML">" alt="">
		      <TMPL_ELSE />
		      <img src="pub.d/images/silhouette2.png">
                    </TMPL_IF>
                  </td>
		  <td style="text-align:left">
		    <input type="hidden" name="section<TMPL_VAR idx>" id="section<TMPL_VAR idx>" value="<TMPL_VAR section>" />
		    <input type="hidden" name="delete<TMPL_VAR idx>" id="delete<TMPL_VAR idx>" value="0" />
		    <a href="javascript:rm_feed(<TMPL_VAR idx>)"<img class="feedbtn" src="pub.d/images/rm-feed.png"></a> <label for="name<TMPL_VAR idx>">Feed Name:</label><br />
		       <input type="text" size=40 name="name<TMPL_VAR idx>" id="name<TMPL_VAR idx>" value="<TMPL_VAR name>"><br />
		       <label for="feedurl<TMPL_VAR idx>">Feed URL:</label><br />
		       <input type="text" size=40 name="feedurl<TMPL_VAR idx>" id="feedurl<TMPL_VAR idx>" value="<TMPL_VAR feedurl>"><br />
		       <label for="faceurl<TMPL_VAR idx>">Image URL:</label><br />
		       <input type="text" size=40 name="faceurl<TMPL_VAR idx>" id="faceurl<TMPL_VAR idx>" value="<TMPL_VAR faceurl>"><br />		    
                  </td></tr>
              </TMPL_LOOP>
          </tbody></table>
        </div><!-- end feeds -->
      </div> <!-- end entry -->
<!--
      <div class = "entry" id="SidebarBody">
        <div class="entrytitle">Sidebar</div>
        <textarea rows="10" cols="75" name="Sidebar" wrap="physical"><TMPL_VAR sidebar></textarea>
      </div> <!-- end entry -->
-->
      <div class = "entry" id="ChangeAuth">
        <div class="entrytitle">Change Password</div>
        If you want to change your password, enter a new one here.<br />
	<TMPL_VAR change_pass_input>
      </div> <!-- end entry -->

      <div class = "entry" id="AuthGo">
        <div class="entrytitle">Save Changes</div>
	<TMPL_VAR pass_input>
        <input type="submit" value="Save Changes"><br />
	<TMPL_IF passme>

	If you don't know the password, try the default password:
	passme.  You are encouraged to change this password.

	</TMPL_IF>
      </div> <!-- end entry -->

   </div></form>
</div>	<!-- end left -->

<div id="right">
  <TMPL_INCLUDE sidebar.tmpl>
</div>	<!-- end right -->

<TMPL_INCLUDE footer.tmpl>
