<TMPL_INCLUDE header.tmpl>

<div id="left">

  <div class = "entry">
    <div class="entrytitle">Copyrights</div>

    <p>Individual posts are copyright by their authors and I claim no
    exclusive rights to them.  Click through the posts to the parent
    blogs and you should be able to find terms for reproduction.</p>

    <p>All of the software behind this site is open source and some of
    it was written by others.  In particular, Planeteria software is
    based on <a href="http://intertwingly.net/code/venus/">Venus</a>,
    which is GPL-licensed.</p>

    <p>Everything else (i.e. the stuff I produced) is available under
    the <a
    href="http://www.fsf.org/licensing/licenses/agpl-3.0.html">AGPLv3</a>.</p>

    <p>I will at some point package the source code, templates, and
    supporting scripts.  </b>Right now the code has some trashy hacks
    and the setup is extremely ugly.</b> But now that I have running
    code, I'll clean it up slowly.  And then the code will be
    available from this page.  But until I get around to it, there's
    always bazaar:

    <blockquote>
    bzr get http://bzr.hackervisions.org/planeteria
    </blockquote></p> 

    <p>Run the setup script in the root of that branch. See the <a
    href="/readme.html">readme</a> for details.</p>

    <p>The setup script will download my mildly adjusted version of
    Venus, which resides in a separate branch at
    http://bzr.hackervisions.org/venus</p>

  </div> <!-- end entry -->

</div> <!-- end left -->

<div id="right">
  <TMPL_INCLUDE sidebar.tmpl>
</div>	<!-- end right -->

<TMPL_INCLUDE footer.tmpl>


