<TMPL_INCLUDE header.tmpl>

<div id="left">

  <div id="error"><TMPL_VAR error></div>

  <div class = "entry">
    <div class="entrytitle">Get Your Own Planet</div>
    <p>You can have a planet of your very own!  Pull together all the
      blogs around your project or community.  Just fill out this form:</p>

    <form method="post" action="new_planet.py" class="cmxform"> 

      <label for="subdirectory">Subdirectory:</label>
      <input type="text" size=40 id="subdirectory" name="subdirectory" value="<TMPL_VAR subdirectory>" /><br />
      Your planet URL will be http://<TMPL_VAR domain>/subdirectory,
      and the subdirectory may only consist of letters and numbers.<br/>

      <br /><br />

      <label for="owner_email">Your Email:</label> 
      <input type="text" size=40 name="owner_email" value="<TMPL_VAR owner_email>" /><br />
      Don't worry, we won't spam you!<br />

      <div align="center"><input type="submit" name="submit" value="Create Planet" /></div>

    </form>

    <p>Please note this site is just getting off the ground, so things
    might be bumpy.  <a href="contact.html">Email me</a> with bugs and
    ideas for making the experience smoother.</p>

  </div> <!-- end entry -->

  <div class = "entry">
    <div class="entrytitle">Planets for Everybody!</div>
    <p>A planet is a collection of posts from many different blogs,
      all somewhat related to one topic.  It's a great way to keep
      tabs on a subject, a community, a technology, a team, a project
      or anything else that attracts a diverse range of bloggers.</p>

    <p><b>Community.</b> Planets are a great way to focus and foster
      community.  It's easy to get everybody in the community talking
      with each other when you're all reading each other's blogs!</p>

    <p><b>Curation.</b> One stop curation allows a planet to become
      the definitive collection of news about a topic.  Each planet is
      a feed that can be imported into an RSS reader.  Planets allow
      you to pull together the best blogs about a topic so others
      don't have to do the leg work.  And you can get your entire
      audience reading the newest blogs simply by updating the
      planet.</p>

    <p><b>Early News.</b> Many planets collect the personal blogs of
      the people who work on a project.  Often the interesting
      developments that will eventually become front-page news on a
      project start as small personal milestones.  If you want to know
      where a project is going, watch its planet.  That's where all
      the early action is.</p>

  </div> <!-- end entry -->

</div> <!-- end left -->

<div id="right">
  <TMPL_INCLUDE sidebar.tmpl>
  <div class = "entry">
    <div class="entrytitle">Some Awesome Planets</div>
    <ul>
      <li><a href="planetnyc">Freedom To Share in NYC</a></li>
      <li><a href="wfs">Women in Free Software</a></li>
    </ul>
  </div> <!-- end entry -->
</div>	<!-- end right -->

<TMPL_INCLUDE footer.tmpl>


