<TMPL_INCLUDE header.tmpl>

<div id="left">

  <div class = "entry">
    <div class="entrytitle"><TMPL_VAR heading</div>
    <TMPL_VAR body>
  </div> <!-- end entry -->

</div> <!-- end left -->

<div id="right">
  <TMPL_INCLUDE sidebar.tmpl>
</div>	<!-- end right -->

<TMPL_INCLUDE footer.tmpl>


