<TMPL_INCLUDE header.tmpl>

<div id="left">

  <div class = "entry">
    <div class="entrytitle">Thanks!</div>

    <p>A project like this rests on a deep stack of impressive work
    freely shared by a multitude of others.  This page is where we
    thank those people and encourage you to check out their other
    work.</p>

    <ul>
    <li>I photoshopped the Planeteria logo 
    in <a href="http://www.gimp.org/">GIMP</a>
    from <a href="http://www.flickr.com/photos/wwworks/2222523486/">a
    public domain photo</a> found on Flickr.</li>

    <li>The <a href="/pub.d/images/silhouette2.png">Unknown Blogger
    avatar</a> is based on a photo I
    gimped off of Flickr.  Unfortunately, <a
    href="http://www.flickr.com/photos/n-o-n-o/3502226571">the link</a> went dead and I
    can no longer find it.  All of <a
    href="http://www.flickr.com/photos/n-o-n-o/">Nono Fara's
    photos</a> are beautiful, though, so poke through her stream for
    some nice shots.</li>

    <li>I originally based this software on <a
    href="http://www.planetplanet.org/">Planet Planet</a>, but quickly
    moved to build instead on <a
    href="http://intertwingly.net/code/venus/">Venus</a>.  Later I
    discarded those dependencies for more flexibility, but my code is
    less robust as a result.  Venus is good stuff and if you're only
    running one planet, I highly recommend it.</li>

    <li>The bulk of the CSS on this site is from a template called
    FreshPick by <a href="http://www.styleshout.com/">Erwin
    Aligam</a>.  Some form-specific CSS came from <a
    href="http://www.alistapart.com/articles/prettyaccessibleforms/">A
    List Apart</a>.  I also grabbed some from <a
    href="http://meyerweb.com/eric/thoughts/2007/05/01/reset-
    reloaded/">Eric Meyer</a>.</li>

    <li>I scavenged some Javascript from the web: <a
    href="http://www.webmasterworld.com/forum91/441.htm">hidediv</a>.</li>

    <li>I grabbed this <a
    href="http://code.activestate.com/recipes/82465/">mkdir</a>
    routine.</li>

    </ul>
  </div> <!-- end entry -->

</div> <!-- end left -->

<div id="right">
  <TMPL_INCLUDE sidebar.tmpl>
</div>	<!-- end right -->

<TMPL_INCLUDE footer.tmpl>


