<TMPL_INCLUDE header.tmpl>

<div id="left">

  <div class = "entry">
    <div class="entrytitle">Terms of Use</div>

    <p>By accessing this site, you agree to the following terms:</p>

    <p>You grant me (James Vasile) a worldwide, perpetual,
    sublicensable royalty-free license to reprint any content you
    contribute to this site, in verbatim or modified form, and in any
    medium.  This doesn't include stuff we pull in via rss and
    atom.</p>

    <p>This website inevitably collects some data about users, both in
    server logs and in the content you contribute. I won't share your
    data with spammers.</p>

    <p>You agree not to rely on this site for anything crucial.  It
    might disappear or break without notice and I'm making no
    commitment to maintain it or fix it quickly (or ever).  If you
    want reliability, talk to me and we'll come up with something that
    works.</p>

    <p>From time to time, I might add new terms here.  You agree to
    watch this page for changes and be bound by those new terms.</p>

  </div> <!-- end entry -->

</div> <!-- end left -->

<div id="right">
  <TMPL_INCLUDE sidebar.tmpl>
</div>	<!-- end right -->

<TMPL_INCLUDE footer.tmpl>


