<TMPL_INCLUDE header.tmpl>

<div id="left">

  <div class = "entry">
    <div class="entrytitle">Your New Planet</div>

    <p>Your planet has been created, but you need to set it up via <a
    href="<TMPL_VAR base_href><TMPL_VAR direc>/admin.py">the admin interface</a> before it is
    functional.</p>

  </div> <!-- end entry -->

</div> <!-- end left -->

<div id="right">
  <TMPL_INCLUDE sidebar.tmpl>
</div>	<!-- end right -->

<TMPL_INCLUDE footer.tmpl>


