  <div class="entry">
    <div class="entrytitle">About</div> 
    <p>Planet websites are community blog aggregators. Use
      Planeteria to collect all the personal blogs in your
      community or team and really get to know the people
      behind a project.</p>

    <p>Planeteria is not a feed reader, it's a feed
      sharer. After you make your planet, tell people about
      it. That's the whole point of community-building!</p>

  </div>
